<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/ic_coros_garmin"
        android:roundIcon="@drawable/ic_coros_garmin"
        android:label="RunYeah"
        tools:replace="android:icon,android:roundIcon,android:label">

        <activity
            android:name=".MainActivity"
            android:label="RunYeah"
            tools:replace="android:label" />

    </application>

</manifest>
